
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

<div>
    <p>Thank you for purchasing books from The Bibliotaph's Sactum.</p>
    <p>Your books will arrive within 2 business days. We hope you return to purchase more books again soon</p>
    <p>Happy reading!</p>
</div>