
@{
    ViewBag.Title = "Index";
}

<h2>Checkout</h2>

<form action="/Payment/Charge" method="POST">
    <article>
        <label>Amount:</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@ViewBag.pk_test_xyxrTGDcuvs2YlTTIu9Ak5M1"
            data-locale="auto"
            data-description=""
            data-amount="">
    </script>
</form>

