.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #708090;
    font-size: 1.4em;
}

.navbar-header {
    background-color: #708090;
}



h1 {
    padding-top: 50px;
    padding-bottom: 25px;
    color: white;
    font-family: 'Special Elite', cursive;
    font-size: 7em;
    text-align: center;
    text-shadow: 6px 6px 6px black;
}

h2 {
    color: #662771;
    font-family: 'Special Elite', cursive;
    font-size: 3em;
    text-align: center;
    text-shadow: 1px 1px 4px black;
    padding-top: 50px;
    padding-bottom: 10px;
}

h3 {
    color: #662771;
    font-family: 'Italianno', cursive;
    font-size: 4em;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h4 {
    color: #662771;
    font-family: 'Special Elite', cursive;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 1px 1px 4px black;
   
}

p {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-align: left;
}

.btn.btn-primary {
    align-items: center;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #c7bbc9;
    position: absolute;
    height: 50%;
    overflow: auto;
}

    /* Sidebar links */
    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }

        /* Active/current link */
        .sidebar a.active {
            background-color: #5e3c58;
            color: white;
        }

        /* Links on mouse-over */
        .sidebar a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: left;
        }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

body {
    padding-top: 50px;
    padding-bottom: 5px;
    background-color: #dce7ea;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-bottom: 5px;
    background-color: #dce7ea;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    background-color: #708090;
    font-size: 1em;
    padding: 20px 20px 20px 0px;
    width: 100%;
}
