.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #493267;
    font-size: 1.4em;
}

.navbar-header {
    background-color: #493267;
}



h1 {
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    font-family: 'Special Elite', cursive;
    font-size: 7em;
    text-align: center;
    text-shadow: 8px 8px 8px black;
}

h2 {
    color: #493267;
    font-family: 'Special Elite', cursive;
    font-size: 3em;
    text-align: left;
    text-shadow: 1px 1px 2px black;
    padding-top: 50px;
    padding-bottom: 10px;
}

h3 {
    color: #493267;
    font-family: 'Italianno', cursive;
    font-size: 4em;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h4 {
    color: #493267;
    font-family: 'Special Elite', cursive;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 1px 1px 4px black;
}

h5 {
    color: #493267;
    font-family: 'Special Elite', cursive;
    font-size: 1.5em;
    text-align: left;
    text-shadow: 1px 1px 4px black;
}
    p {
    color: #493267;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-align: left;
}



body {
    padding-top: 8em;
    background-color: #dce7ea;
}


address {
    color: #493267;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-align: left;
}

table {
    background-color: rgba(255, 255, 255, .6);
    color: #493267;
    border: 5px;
    border-style: solid;
    border-color: #493267;
    font-size: 1.2em;
}

.table#table {
    background-color: rgba(255, 255, 255, .6);
    color: #493267;
    border: 5px;
    border-style: solid;
    border-color: #493267;
    font-size: 1.2em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}
   
.form-horizontal#table{
    background-color: rgba(255, 255, 255, .6);
    color: #493267;
    border: 5px;
    border-style: solid;
    border-color: #493267;
    font-size: 1.2em;
    padding-top: 2em;
    padding-right: 2em;
    margin-bottom: 2em;
}

.bg-img {
    background-image: url("Assets/books-right-side.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}



.btn btn-info {
    background-color: #493267;
}
