<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Italianno|Special+Elite" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>
    <div class="contact-bg-img">

    <h2>Contact Us</h2>

    <div>

        <address>
            One Bibliotaph Square<br />
            Indianapolis, IN 46032<br />
            <abbr title="Phone">P:</abbr>
            317.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
        </div>
    </body>
</html>
