@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>The Bibliotaph's Sanctum</h1>
    <p class="lead"></p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to The Bibliotaph's Sactum</h2>
        <p>
            If you love to read and collect books, you are in the right place! 
        </p>
        <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more information</h2>
        <p>Contact us 24/7. We will answer questions, listen to your feedback, find that rare book to compliment your evergrowing book collection, and more! </p>
        <p><a class="btn btn-default" href="~/Home/Contact">Learn more &raquo;</a></p>
    </div>
    
</div>