@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Italianno|Special+Elite" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>

    <div>
        <h1>The Bibliotaph's Sanctum</h1>
        <p class="lead"></p>

    </div>

    <div class="row">
        <div class="col-md-5">
            <h2>Welcome</h2>
            <p>
                If you love to read and collect books, you are in the right place!
            </p>
            <a class="btn btn-primary" href="~/Home/About" role="button">Learn More</a>
        </div>
        <div class="col-md-5">
            <h2>Get more information</h2>
            <p>Contact us 24/7. We will answer questions, listen to your feedback, find that rare book to compliment your evergrowing book collection, and more! </p>
            <div>
                <a class="btn btn-primary" href="~/Home/Contact" role="button">Contact Us</a>
            </div>
        </div>

    </div>
</body>
</html>
