@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Italianno|Special+Elite" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>
    <div class="bg-image">
        <div>
            <h1>The Bibliotaph's Sanctum</h1>
        </div>

        <h2>Best Sellers</h2>

        <div class="row">
            <div class="col-sm-3">
                <img src="~/Content/Assets/BestSellers/Becoming_MichelleObama.jpg" />
                <a class="btn btn-primary" href="~/Cart" role="button">Add to Cart</a>
            </div>

            <div class="col-sm-3">
                <img src="~/Content/Assets/BestSellers/WhereTheCrawdadsSing_DeliaOwens.jpg" />
                <a class="btn btn-primary" href="~/Cart" role="button">Add to Cart</a>
            </div>

            <div class="col-sm-3">
                <img src="~/Content/Assets/BestSellers/TheHateUGive_AngieThomas.jpg" />
                <a class="btn btn-primary" href="~/Cart" role="button">Add to Cart</a>
            </div>

            <div class="col-sm-3">
                <img src="~/Content/Assets/BestSellers/Educated_TaraWestover.jpg" />
                <a class="btn btn-primary" href="~/Cart" role="button">Add to Cart</a>
            </div>
        </div>

        <div>
            <h2>New Releases</h2>
        </div>

        <div class="row">

            <div class="col-sm-3">
                <img src="~/Content/Assets/NewRelease/EightDates_Gottman.jpg" />
                <a class="btn btn-primary" href="~/Cart" role="button">Add to Cart</a>
            </div>

            <div class="col-sm-3">
                <img src="~/Content/Assets/NewRelease/GirlWashYourace_RachelHollis.jpg" />
                <a class="btn btn-primary" href="~/Cart" role="button">Add to Cart</a>
            </div>

            <div class="col-sm-3">
                <img src="~/Content/Assets/NewRelease/TheLastRomantics_TaraConklin.jpg" />
                <a class="btn btn-primary" href="~/Cart" role="button">Add to Cart</a>
            </div>

            <div class="col-sm-3">
                <img src="~/Content/Assets/NewRelease/TheIslandOSeaWomen_LisaSee.jpg" />
                <a class="btn btn-primary" href="~/Cart" role="button">Add to Cart</a>
            </div>
        </div>

        </div>

</body>
</html>
